.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.singleProductContainer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
 
}


.priceCartContainer {
  display: flex;
  gap:2rem;
  margin-top:1rem;
  justify-content: space-between;
}

.priceCartContainer > div > button {
    margin-top: 0rem;
}

button {
  background-color: #373838;
  color: #fff;
  padding: 5px;
  border: none;
}

button:hover{
  cursor: pointer;
}

img{
  width: 10rem;
  height: 10rem;
}

@media only screen and (max-width: 1000px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  img{
    width: 18rem;
    height: 18rem;
  }
}